.background {
    -fx-background-color: #1d1d1d;
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 0.6;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: yellow;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: yellow;
    -fx-opacity: 1;
    -fx-font-weight: bold;
}

.label-header-small {
    -fx-font-size: 15pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: yellow;
    -fx-opacity: 1;

}



.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: transparent #1d1d1d transparent #1d1d1d;
    -fx-background-color: transparent, derive(#1d1d1d,20%);
}

.split-pane {
    -fx-padding: 1 0 0 0;
}

.menu-bar {
    -fx-background-color: derive(#1d1d1d,20%);
}

.context-menu {
    -fx-background-color: derive(#1d1d1d,50%);
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: black;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}

.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: yellow; /*#e2e2e2;*/
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: yellow;/* #d8d8d8;*/
    -fx-font-weight: bold;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}

.button:pressed, .button:default:hover:pressed {
    -fx-background-color: yellow;
    -fx-text-fill: #1d1d1d;
}

.button:focused {
    -fx-border-color: yellow, yellow;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: yellow;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: yellow;/*#ffffff;*/
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}

.scroll-pane > .viewport {
    -fx-background-color: #1d1d1d;
}









.scroll-bar:vertical>.track-background, .scroll-bar:horizontal>.track-background
{
    -fx-background-color: #1d1d1d;
    -fx-background-insets: 0.0;
}

.scroll-bar:vertical>.thumb, .scroll-bar:horizontal>.thumb {
    -fx-background-color: yellow;
    -fx-background-insets: 0.0;
    -fx-background-radius: 6.0;
}

.scroll-bar>.increment-button, .scroll-bar>.decrement-button,
.scroll-bar:hover>.increment-button, .scroll-bar:hover>.decrement-button
{
    -fx-background-color: white;
}

.scroll-bar>.increment-button>.increment-arrow, .scroll-bar>.decrement-button>.decrement-arrow
{
    -fx-background-color: black;
}

.scroll-bar>.increment-button,.scroll-bar>.decrement-button
{
    -fx-background-color: yellow;
}

.scroll-bar>.track-background {
    -fx-background-color: white;
}




.slider .thumb {
    -fx-background-color: yellow;
    -fx-padding: 10;
}


.slider .track{
    -fx-background-color: gray;
}

.slider .tickLabel{

}
/*******************************************************************************
 *                                                                             *
 * Button & ToggleButton                                                       *
 *                                                                             *
 ******************************************************************************/
/*
.button-raised {
    -fx-effect: dropshadow(gaussian, rgb(0.0, 0.0,  0.30), 6.0, 0.3, 0,
    1);
    -fx-background-color: rgb(250, 250, 250);
}

.button-flat {
    -fx-effect: null;
    -fx-background-color: red;
}

.toggle-button, .button {
    -fx-text-fill: -fx-text-button-normal;
    -fx-font-family: 'Roboto';
    -fx-font-weight: bold;
    -fx-background-insets: 0.0;
    -fx-background-radius: 4.0;
    -fx-padding: 0.7em;
    -fx-alignment: CENTER;
}

.button-raised .button .text, .button-flat .button .text {
    -fx-text-weight: Bold;
}

.button:default {
    -fx-background-color: -swatch-500;
    -fx-text-fill: -fx-text-button-colored;
}

.toggle-button:focused, .button:focused, .button:default:focused {
    -fx-background-color: -swatch-light-grey;
}

.toggle-button:focused:selected {
    -fx-background-color: derive(-swatch-500, 50.0%),
    derive(-swatch-500, -20.0%);
    -fx-background-insets: 0.0, 0.2em;
    -fx-text-fill: -fx-text-button-colored;
}

.toggle-button:armed, .toggle-button:selected, .button:armed, .button:default:armed
{
    -fx-background-color: -swatch-grey;
    -fx-text-fill: -fx-text-button-colored;
}

.icon-button {
    -fx-background-color: transparent;
    -fx-pref-height: 42;
    -fx-pref-width: 42;
    -fx-min-height: 42;
    -fx-min-width: 42;
    -fx-padding: 0;
}

.icon-button .text {
    -fx-font-family: 'MaterialDesignIconicFont';
    -fx-font-size: 24px;
}
*/
